### 1er dossier d'exploration des fichiers (certains codes sont brouillons mais ont été rattrapés dans d'autres fichiers)

### Importation des librairies :

In [ ]:
import pandas as pd

In [5]:
import numpy as np

In [7]:
import matplotlib.pyplot as plt

In [8]:
import seaborn as sns

In [11]:
import requests

In [13]:
import os

### Importation des métadata pour la compréhension des DataFrames :

In [24]:
metadat_mob = pd.read_excel("Mobilisations Metadata.xlsx")
display(metadat_mob)
metadat_mob.info()

,Column,Sample record,Description
0,IncidentNumber,000008-01012018,LFB Incident Number
1,CalYear,2018,Year of 999 call
2,HourOfCall,3,Hour of 999 call
3,ResourceMobilisationId,5055153,LFB Resource Mobilisation ID
4,Resource_Code,A392,LFB Resource Code
5,PerformanceReporting,1,First Pump arrived at incident
6,DateAndTimeMobilised,01/01/2018 00:04:25,Date and time of mobilised (GMT)
7,DateAndTimeMobile,01/01/2018 00:05:38,Date and time of mobile (GMT)
8,DateAndTimeArrived,01/01/2018 00:10:13,Date and time arrived (GMT)
9,TurnoutTimeSeconds,73,Turnout time in seconds
10,TravelTimeSeconds,275,Travel time in seconds
11,AttendanceTimeSeconds,348,Attendance time in seconds
12,DateAndTimeLeft,01/01/2018 00:16:38,Date and time left the incident (GMT)
13,DateAndTimeReturned,2018-01-01 00:22:45,Date and time returned to station (GMT)
14,DeployedFromStation_Code,A39,Deployed from station code
15,DeployedFromStation_Name,Finchley,Deployed from station name
16,DeployedFromLocation,Home Station,Deployed from location
17,PumpOrder,1,Pump order
18,PlusCode_Code,Initial,Code of Plus Code
19,PlusCode_Description,Initial Mobilisation,Description of Plus Code
20,DelayCodeId,9,Delay code ID
21,DelayCode_Description,"Traffic, roadworks, etc",Delay code description

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Column         22 non-null     object
 1   Sample record  22 non-null     object
 2   Description    22 non-null     object
dtypes: object(3)
memory usage: 660.0+ bytes

In [25]:
metadat = pd.read_excel("Metadata.xlsx")
display(metadat)
metadat.info()

,Column,Sample record,Description,Extra Notes
0,IncidentNumber,000008-01012018,LFB Incident Number,NaN
1,DateOfCall,2018-01-01 00:00:00,Date of 999 call,NaN
2,CalYear,2018,Year of 999 call,NaN
3,TimeOfCall,00:04:25,Time of 999 call,NaN
4,HourOfCall,0,Hour of 999 call,NaN
5,IncidentGroup,False Alarm,High level incident category,NaN
6,StopCodeDescription,AFA,Detailed incident category,NaN
7,SpecialServiceType,NaN,Further detail for special services incident c...,NaN
8,PropertyCategory,Non Residential,High level property descriptor,NaN
9,PropertyType,Mosque,Detailed property descriptor,NaN
10,AddressQualifier,Within same building,Qualifies location of actual incident relevant...,NaN
11,Postcode_full,N2 8AY,Postcode,redacted for Dwellings
12,Postcode_district,N2,Postcode Districs,NaN
13,UPRN,200220110,Unique Property Reference Number,redacted for Dwellings
14,USRN,20013420,Unique Street Reference Number,NaN
15,IncGeo_BoroughCode,E09000003,Borough Code,NaN
16,IncGeo_BoroughName,BARNET,Borough Name,NaN
17,ProperCase,Barnet,Borough Name,NaN
18,IncGeo_WardCode,E05000049,Ward Code,NaN
19,IncGeo_WardName,EAST FINCHLEY,Ward Name,NaN
20,IncGeo_WardNameNew,EAST FINCHLEY,New Ward Name,NaN
21,Easting_m,527184,Easting,redacted for Dwellings
22,Northing_m,189488,Northing,redacted for Dwellings
23,Easting_rounded,527150,Easting rounded up to nearest 50,NaN
24,Northing_rounded,189450,Northing rounded up to nearest 50,NaN
25,Latitude,51.5899,Latitude,redacted for Dwellings
26,Longitude,-0.165453,Longitude,redacted for Dwellings
27,FRS,London,Fire Service ground,NaN
28,IncidentStationGround,Finchley,LFB Station ground,NaN
29,FirstPumpArriving_AttendanceTime,348,First Pump attendance time in seconds,NaN
30,FirstPumpArriving_DeployedFromStation,Finchley,First Pump deployed from station,NaN
31,SecondPumpArriving_AttendanceTime,NaN,Second Pump attendance time in seconds,NaN
32,SecondPumpArriving_DeployedFromStation,NaN,Second Pump deployed from station,NaN
33,NumStationsWithPumpsAttending,1,Number of stations with pumps in attendance,NaN
34,NumPumpsAttending,1,Number of pumps in attendance,NaN
35,PumpCount,1,NaN,NaN
36,PumpMinutesRounded,1,"Time spent at incident by pumps, rounded up to...",NaN
37,Notional Cost (£),328,Time spent multiplied by notional annual cost ...,NaN
38,NumCalls,1,Number of calls received about the incident,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Column         39 non-null     object
 1   Sample record  36 non-null     object
 2   Description    38 non-null     object
 3   Extra Notes    6 non-null      object
dtypes: object(4)
memory usage: 1.3+ KB

#### Création d'un tableau pour comprendre à quoi correspondent les codes retard :

In [33]:
ID_retard = LFB_mob[['DelayCodeId','DelayCode_Description']].drop_duplicates()
print(ID_retard)

                DelayCodeId               DelayCode_Description
IncidentNumber
235138081               NaN                                 NaN
8091                   12.0                         Not held up
17091                   5.0            Address incomplete/wrong
49091                   9.0             Traffic, roadworks, etc
107091                  8.0            Traffic calming measures
158091                  7.0  Arrived but held up - Other reason
171091                  6.0          Appliance/Equipment defect
181091                 11.0   Mob/Radio problems when mobilised
310091                 13.0      On outside duty when mobilised
1336091                10.0                  Weather conditions
2868091                 3.0            At drills when mobilised

La méthode '.unique()' a été appliquée à toutes les variables du dataframe dans le but d'observer les variables avec peu de valeur unique.

In [34]:
#LFB_incident['NumCalls'].unique()
# Méthode .unique() utilisée avec toutes les variables des deux dataframes
# dans l'objectif d'évaluer la distribution des valeurs